/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.eot'); 
    src: url('../fonts/barlow-v12-latin-regular.eot?    #iefix') format('embedded-opentype'), 
         url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v12-latin-regular.woff') format('woff'), 
         url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'), 
         url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg'); 
  }


  *,
   *::before,
   *::after {
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
   }


body {
    padding: 0;
    margin: 0;
    padding-bottom: 88px;
    font-family: 'Barlow';
    font-size: 16px;
}

img {
    vertical-align: middle;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.Coffee-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
}


.Coffee-img {
     width: 236px;
     height: 26px;
     -o-object-fit: contain;
        object-fit: contain;
}


.Coffee-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Coffee-item {
     margin-left: 33px;
}

.Coffee-link {
    text-decoration: none;
    color: #83888F;
}

.Coffee-link:hover {
    color: #333D4B;
    font-weight: bold;
}

.Coffee-link:active {
    color: #333d4b8e;
    font-weight: bold;
}


/* _____________ */


.Great-wrapper {
     width: 1240px;
     height: 500px;
     background-image: url("./../img/Bitmap.png");
     background-repeat: no-repeat;
     -o-object-fit: cover;
        object-fit: cover;
}

.Great-titel {
     padding-top: 50px;
     width: 493px;
     font-weight: 900;
     font-size: 72px;
     line-height: 72px;
     color: #FEFCF7;
     margin: 0;
     margin-bottom: 32px;
     margin-left: 86px;
}
.Great-text {
     width: 400px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: rgba(254, 252, 247, 0.8);
     margin: 0;
     margin-bottom: 56px;
     margin-left: 86px;

}
.plan-link {
    margin-left: 86px;
}

.Great{
     text-decoration: none;
     background-color: #66D2CF;
     padding: 16px 31px;
     color: #fff;
     font-weight: 900;
     font-size: 18px;
     line-height: 25px;
}

.Great:hover {
    background-color: #66d2cf9a;
}

.Great:active {
    background-color: 
    #66d2cfe0;
}


/* COPY */


.copy {
    padding-bottom: 190px;
    padding-top: 260px;
    background-image: url("./../img/Group13.png");
    background-repeat: no-repeat;
    background-position: calc(49%) calc(162px);

}

.copy_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.copy_item {
    margin-right: 14px;
    margin-left: 14px;
    width: 260px;
    border: 1px solid none;
    margin-top: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.copy_item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.copy_header {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.copy_text {
    font-family: 'Barlow';
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* BITMAP */


.bitmap {
    padding-bottom: 300px;
    margin-bottom: 200px;
}

.container_bitmap {
    background-color: #2C343E;
    border-radius: 10px;
    padding-bottom: 285px;
    padding-top: 70px;
}

.bitmap_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bitmap_text {
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(254, 252, 247, 0.8);
    mix-blend-mode: normal;
    width: 510px;
}

.bitmap_header {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}


.bitmap_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    margin-top: 230px;
}

.bitmap_item {
    position: calc(50% + 50px);
    padding: 72px 48px 48px 47px;
    margin-left: 15px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #0E8784;
    width: 320px;
    background-color: #0E8784;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bitmap_item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);

}

.bitmap_item_header {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 25px;
}

.bitmap_item_text {
    width: 255px;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    margin: 0;
}

.bitmap_footer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: absolute;
    margin-top: 0px;
}

.bitmap_bottom_text {
    background-position: left 0, top 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}


/* _______________ */


.Pick-section {
    margin-bottom: 200px;
}

.Pick-heading {
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     color: #83888F;
     margin: 0;
     margin-bottom: 80px;
}

.Pick-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: relative;
}

.Pick-item {
    position: relative;
     width: 300px;
     margin-right: 95px;
     padding-top: 98px;
     margin-bottom: 64px;
}

.Pick-item::before {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
    z-index: 1;
}

.Pick-list::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;
    display: inline-block;
    width: 65%;
    height: 2px;
    border: 2px solid #FDD6BA;
} 

.Pick-number {
     font-weight: bold;
     font-size: 72px;
     line-height: 72px;
     color: #FDD6BA;
     margin: 0;
     margin-bottom: 38px;
}

.Pick-item-heading {
     width: 255px;
     font-weight: bold;
     font-size: 32px;
     line-height: 36px;
     color: #333D4B;
     margin: 0;
     margin-bottom: 42px;
}

.Pick {
     width: 205px;
}

.Pick-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #333D4B;
}

.Pick-link {
    margin-left: 30px;
}

/* _______________ */




.home_page-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: #2C343E;
      padding-top: 47px;
      padding-bottom: 49px;
}

.home_page-img {
    margin-left: 86px;
}

.home_page-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home_page-item {
    margin-right: 33px;
}

.home_page-link {
     text-decoration: none;
     color: #83888F;
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
}

.home_page-link:hover {
    color: #83888f9a;
}

.home_page-link:active {
    color: #ffffffad;
}

.home_page-wrapper {
    margin-right: 85px;
}

.home_page-img-link {
    margin-left: 24px;   
}


   /* About_us */


   .About-section {
       margin-bottom: 167px;
   }

.About-wrapper {
    width: 1200px;
    height: 500px;
    background-image: url("./../img/Object.png");
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
}

.About-titel {
    padding-top: 130px;
    width: 493px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 86px;
    
}

.About-text {
     width: 445px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #FEFCF7;
     margin-left: 86px;
}



 /* ______________ */


 .commitment-section {
     margin-bottom: 230px;
 }

.commitment-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.commitment-box-img {
       width: 400px;
       margin-right: 125px;
       margin-left: 50px;
}

.commitment-img {
    border-radius: 10px;
}

.commitment-heading {
     font-weight: bold;
     font-size: 40px;
     line-height: 48px;
     color: #333D4B;
}

.commitment-text {
     width: 540px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #333D4B;   
}


/* ______________ */

.Quality-section {
    margin-bottom: 168px;
}

.Quality-container {
    background-color: #333D4B;
    padding-top: 100px;
    padding-bottom: 150px;
}

.Quality-heading {
     font-weight: bold;
     font-size: 40px;
     line-height: 48px;
     color: #FEFCF7;
     margin: 0;
     padding-left: 85px;
     margin-bottom: 32px;
}

.Quality-text {
     width: 540px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #FEFCF7;
     margin: 0;
     padding-left: 85px;
}

.Quality-box-img {
     position: relative;
     
}

.Quality-img {
    top: -395px;
    right: 50px;
    position: absolute;
}


/* ________________ */


.Country-section {
    margin-bottom: 168px;
}

.Country-heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin: 0;
    margin-bottom: 72px;
}

.Country-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.Country-item {
    width: 285px;
    margin-right: 108px;
}

.Country-img {
     margin-bottom: 45px;
}

.Country-item-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 24px;
}

.Country-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin: 0;
}